.DateDisplay {
    width: 80px;
    height: fit-content;
    flex-shrink: 0;

    border-right: 1px solid var(--accent_c);
    margin-right: 12px;

    text-align: center;
}

.DateDisplay_DayOfWeek {
    width: 100%;
    margin-bottom: 8px;

    font-size: larger;
}

.DateDisplay_FullDate {
    width: 100%;

    color: var(--sub_text_c);

    font-size: smaller;
}

.DateDisplay.DateDisplay_Emphasis {
    height: auto;
    border-right: 3px double var(--accent_c);
}