.DiarySection {
    margin: 8px 0;
    padding: 12px;

    background-color: var(--sub_bg_c);

    border-radius: 5px;
}

.DiarySection_Text {
    width: 100%;
    height: auto;

    border: none;
    background-color: transparent;
    color: var(--text_c);

    white-space: pre;

    resize: none;
    outline: none;
}

.DiarySection:has(.DiarySection_Text:focus) {
    background-color: var(--divisor_c);
}