.TaskSection {
    display: flex;
    flex-direction: column;
}

.TaskSection_Item {
    display: flex;

    margin-bottom: 8px;
}

.TaskSection_Checkbox {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;

    height: 17px;
    width: 17px;

    margin: 4px;

    flex-grow: 0;
}

.TaskSection_Checkbox::before{
    content: "";
    width: 12px;
    height: 12px;
    font-size: xx-small;

    border: 2px solid var(--accent_c);
    border-radius: 6px;
}

.TaskSection_Checkbox:checked::before {
    background-color: var(--accent_c);
}

.TaskSection_Row {
    display: flex;
}

.TaskSection_Column {
    display: flex;
    flex-direction: column;
}

.TaskSection_ProjectName {
    font-size: x-small;
    
    border: none;
    background-color: transparent;

    color: var(--accent_c);

    flex-grow: 1;
}

.TaskSection_ProjectName:focus{
    outline: none;
    background-color: var(--divisor_c);
}

.TaskSection_TaskName {
    font-size: medium;

    border: none;
    border-bottom: 1px solid var(--divisor_c);
    background-color: transparent;

    padding: 5px;

    color: var(--text_c);
}

.TaskSection_TaskName:focus {
    outline: none;
    background-color: var(--divisor_c);

    border-radius: 5px;
}

.TaskSection_MinimizeBtn, .TaskSection_DeleteBtn {
    flex-grow: 0;
    flex-shrink: 0;

    width: 20px;
    height: 20px;
    font-size: x-small;

    border-style: solid;
    border-radius: 6px;
    background-color: transparent;

    color: var(--sub_text_c);
    text-align: center;

    margin: auto 2px;
}

.TaskSection_MinimizeBtn:hover, .TaskSection_DeleteBtn:hover {
    background-color: var(--divisor_c);
    color: var(--text_c);
}

.TaskSection_Description {
    border: none;
    border-radius: 5px;
    background-color: var(--sub_bg_c);

    padding: 8px;
    margin: 8px;

    font-size: small;

    color: var(--sub_text_c);

    resize: none;
}

.TaskSection_Description:focus {
    outline: none;

    background-color: var(--divisor_c);
}

.TaskSection_AddBtn {
    flex-grow: 1;
    height: 20px;

    font-size: small;

    border-style: solid;
    border-radius: 6px;
    border: 2px solid var(--divisor_c);
    background-color: transparent;

    color: var(--sub_text_c);
    text-align: center;

    margin: 4px 0 12px;
}

.TaskSection_AddBtn:hover {
    background-color: var(--divisor_c);
    color: var(--text_c);
}