.WeekSelector_Row {
    height: 30px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.WeekSelector_Row * {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; /* a */
    max-height: 2em;
}

.WeekSelector_Row button {
    margin: 0px 4px;

    text-align: center;
    align-content: center;

    border: none;
    background-color: transparent;

    color: var(--text_c);

    cursor: pointer;
}

.WeekSelector_Row button:hover {
    color: var(--accent_c);
}

.WeekSelector_Row p {
    text-align: center;
    align-content: center;

    margin: 0 8px;

    color: var(--sub_text_c);

    text-overflow: ellipsis;
    text-wrap: nowrap;
}
